body{
  background-color: white;
}

#Maindiv{
  float-left:right;
}

.form-control{
  width:18%;
}

#selectid{
  width:343px;
  height:33px;
}

#btnid{
  width:73px;
}

#tabheader{
  text-align: center;
  font-weight: bold;
  font-size: 35px;

}
